<template name="navbar">
  <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li id="nav-about"><a href="/"><i class="fa fa-user"></i><span> About</span></a></li>
        <li id="nav-research"><a href="/research"><i class="fa fa-bar-chart"></i><span> Research</span></a></li>
        <li id="nav-courses"><a href="/courses"><i class="fa fa-graduation-cap"></i><span> Courses</span></a></li>
        <li id="nav-cv"><a href="/cv"><i class="fa fa-file-text-o"></i><span> CV</span></a></li>
        <li id="nav-blog"><a href="/blog"><i class="fa fa-newspaper-o"></i><span> Blog</span></a></li>
      </ul>
    </nav>
  </div>
</template>
