<template name="navbar">
  <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li id="nav-about"><a href="/" class="icon-shop"><span>About</span></a></li>
        <li id="nav-research"><a href="/research" class="icon-food"><span>Research</span></a></li>
        <li id="nav-courses"><a href="/courses" class="icon-food"><span>Courses</span></a></li>
        <li id="nav-cv"><a href="/cv" class="icon-lab"><span>CV</span></a></li>
        <li id="nav-blog"><a href="/blog" class="icon-truck"><span>Blog</span></a></li>
      </ul>
    </nav>
  </div>
</template>
