<template name="research">
  <div class="flex-white">
    <div class="research-content grid">
      <div class="grid__col grid__col--3-of-5 grid__col--centered">
        <h2 style="text-align:center;">Research</h2>
      </div>
      {{#each publications}}
        <div class="grid__col grid__col--5-of-12 grid__col--push-1-of-12">{{> paperback}}</div>
      {{/each}}

    </div>
  </div>
</template>




<template name="paperback">
  <li>
    <figure style="display:block;margin:auto;" class='book'>

      <!-- Front -->
      <ul class='paperback_front'>
        <li>
          <!-- <span class="ribbon">NEW</span> -->
          <img src="paper.jpg" alt="" width="100%" height="100%">
        </li>
        <li class="paper-title"><p>{{title}}</p><p style="font-size:0.5em;">{{authors}}</p></li>

      </ul>


      <!-- Pages -->
      <ul class='ruled_paper'>
        <li></li>
        <li>
          <a class="btn-book" href="#">Download</a>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <!-- Back -->
      <ul class='paperback_back'>
        <li>
          <img src="paper.jpg" alt="" width="100%" height="100%">
        </li>
        <li></li>
      </ul>
    </figure>
    <h3 class="paperback-abstract" style="padding-top:1em;">{{title}}</h3>
    <h4 class="paperback-abstract">{{authors}}</h4>
    <p class="paperback-abstract" style="font-size:1.25em;">{{abstract}}</p>
  </li>
</template>
