<template name="courses">
  <div class="flex-white">
    <div class="courses-content grid">
      <div class="grid__col grid__col--3-of-5 grid__col--centered">
        <h2 style="text-align:center;">Courses</h2>
      </div>
      <div class="grid__col grid__col--5-of-12 grid__col--push-1-of-12">
        <h3>2013</h3>
        <p>(probably best as an accordion) I am currently teaching an introductory course in American Politics this semester at Claremont McKenna College.  The syllabus is at the bottom of the page.</p>
      </div>

<!--
        In every course I teach, I try to build a central theme for the class but give students a path to follow their own interests.  To the extent I can, I will give essay topics and assignments tailored to connect what my students find compelling to the core material covered throughout the term.  What happens in American politics affects everyone, regardless of their long-term career goals.  So I try find some way to hook every student and convince them that they should be as excited about all this as I am.

        I also match high standards for student performance with a commitment to student success.  My classes tend to have a lot of reading and a lot of writing assignments — but, as my own college roommate used to say, what else are you in college for if not to learn neat stuff?  I want my students to leave my class as better writers, more aware citizens, more open-minded people, and more likely to pick up a book on politics and read it for fun.



        For students, three pieces of advice for my class:

        1.  Don't be shy.  Ask questions, send emails, stick around after class.  I study political science because I *like* talking about politics.

        2.  Start papers early.  And by "start" I mean "go to the library."  It is really helpful to have a few days to think about the topic after doing some reading.  Writing is a lot easier when you think first and write second.

        3.  Actually do the reading.  It will save you a lot of time throughout the term (it will help with the essays and in preparing for the final), you will get a lot more out of class, and... these are some incredible books.  The three main books for the course (in Gov. 20, anyway) all won the Pulitzer Prize.  These are more than just a teaching tool about American politics (although they are that, too): these are great stories.
 -->

    </div>
  </div>
</template>
